{% extends 'base/base.html' %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">Data Detail Surat Permintaan Bahan</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'read_detailsjp' %}">Data Detail Surat Permintaan Bahan</a></li>
          <li class="breadcrumb-item active " aria-current="page" ><a class="text-muted" href="{% url 'create_detailsjp' %}">Create Detail Surat Permintaan Bahan</a></li>
        </ol>
      </nav>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataartikel">
                        <thead class="table-info">
                            <tr>
                                <th>No</th>
                                <th>Id SJP</th>
                                <th>Tanggal</th>
                                <th>Bahan Baku</th>
                                <th>Jumlah</th>
                                <th>Keterangan</th>
                                <th>Keterangan ACC</th>
                                {% if is_owner or is_gudang %}
                                <th>Action 1</th>
                                {% endif %}
                                {% if is_owner or is_gudang %}
                                <th>Action 2</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in detailsjp %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{item.0.id_sjp}}</td>
                                <td>{{item.0.tanggal}}</td>
                                <td>
                                    {% for i in item.1 %}
                                    <ul>
                                        <li>{{i.id_bahanbaku}}</li>
                                    </ul>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for i in item.1 %}
                                    <ul>
                                        <li>{{i.jumlah}}</li>
                                    </ul>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for i in item.1 %}
                                    <ul>
                                        <li>{{i.keterangan}}</li>
                                    </ul>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for i in item.1 %}
                                    <ul>
                                        {% if i.keteranganacc == True %}
                                        <li>ACC</li>
                                        {% else %}
                                        <li>Belum ACC</li>
                                        {% endif %}
                                    </ul>
                                    {% endfor %}
                                </td>
                                {% if is_owner or is_gudang %}
                                <td>
                                    <ul>
                                        <a href="{% url 'update_sjp' item.0.id_sjp %}"><button class="btn-inverse-warning btn-icon-text btn-sm mr-2">
                                            <i class="mdi mdi-reload btn-icon-prepend align-middle"></i>Update Surat Permintaan Bahan</button></a>
                                        {% if is_owner %}
                                        <a href="{% url 'delete_sjp' item.0.id_sjp %}"><button class="btn-inverse-danger btn-icon-text btn-sm">
                                            <i class="mdi mdi-close btn-icon-prepend align-middle"></i>Delete Surat Permintaan Bahan</button></a>
                                        {% endif %}
                                    </ul>
                                </td>
                                {% endif %}
                                {% if is_owner or is_gudang %}
                                <td>
                                    {% for i in item.1 %}
                                    <ul>
                                        <a href="{% url 'update_detailsjp' i.id_detailsjp %}"><button class="btn-inverse-warning btn-icon-text btn-sm mr-2">
                                            <i class="mdi mdi-reload btn-icon-prepend align-middle"></i>Update Detail Surat Permintaan Bahan</button></a>
                                        {% if is_owner %}
                                        <a href="{% url 'delete_detailsjp' i.id_detailsjp %}"><button class="btn-inverse-danger btn-icon-text btn-sm">
                                            <i class="mdi mdi-close btn-icon-prepend align-middle"></i>Delete Detail Surat Permintaan Bahan</button></a>
                                        {% endif %}
                                    </ul>
                                    {% endfor %}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock  %}